* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

.logo {
  font-size: 2rem;
  color: red;
}

.logo-div {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70vw;
  padding-left: 20px;
}

.logo-text {
  color: red;
  margin-left: 50px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  height: 100%;
  list-style: none;
  align-items: center;
  /* margin-left: auto; */
}

.navbar > ul {
  height: 100%;
}

.nav-link {
  text-decoration: none;
  padding: 24px;
  height: 100%;
}

.active {
  color: white;
  background: red;
  /* padding: 10px 0; */
}

header {
  margin: 0;
  padding: 0;
  display: flex;
  height: 10vh;
  border-bottom: 1px solid black;
  background-color: white;
}

.products {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 50px;
  flex-wrap: wrap;
  margin-left: 20px;
}

.p-card {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 0;
}
.p-info {
  display: flex;
  background: lightgray;
  opacity: 0.7;
  width: 100%;
  height: 80px;
}

.p-name {
  text-align: center;
  margin: auto 0;
  padding: 0 10px;
  width: 70%;
}

.buy-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 30%;
  height: 100%;
}
.p-image {
  height: 320px;
}

.add {
  margin: 50px auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}

.new-p {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* justify-content: start; */
  border: none;
  background-color: red;
  color: white;
}

.new-p h3 {
  margin-left: 15px;
}

input {
  padding: 20px 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 10px 0;
}

.save-btn {
  display: block;
  padding: 15px 50px;
  color: white;
  border-radius: 5px;
  box-shadow: none;
  margin-left: auto;
  font-weight: 600;
}

.order-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(172, 160, 160);
  border-right: none;
  height: 100px;
}
